.header {
    background-image: url('../img/bird-of-paradise.jpg');
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    font-family: "Average", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display SC", serif;
}

